img{
	width: 100px;
	height: 100px
}

ul{
	color: red;
}

.show{
	animation: show-item 3s ease-in forwards;
}

@keyframes show-item{
	0%{
		opacity: 1;
		color: red;
	}
	50%{
		opacity: 0.5;
		color: blue;
	}
	100%{
		opacity: 1;
		color: yellow;
	}
}

input{
	width: 30px;
	margin-right: 10px;
}